* { 
    padding: 0; 
    margin: 0;
}
    
body {
    width: 100vw;  
    height: 100vh;  
    font-family: "Poppins", sans-serif;  
}

/* Cabeçalho */

header {
    background-color: #05072F;
    display: flex;
    flex-direction: row;  
    justify-content: space-between;  
    align-items: center;  
    padding: 40px 2%;  
}

.logo h1{  
    font-size: 30px;  
    color: #ffffff;  
    font-weight: bold;  
    cursor: pointer;  
}

.list {
    display: none;
}

.logo .txt_fecaf {
    color: #CF092D;  
}

nav a{  
    padding: 0 15px;  
    color: #ffffff; 
    text-decoration: none;  
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;  
}

.help a {  
    color: #ffffff;
    padding: 15px;  
    text-decoration: none;
    font-weight: bold;
}

.help a:hover {  
    text-decoration: underline; 
}

.help .help_barra {
    color: #CF092D; 
}

.help .account {
    color: #CF092D;
}

/* Corpo da pagina */

main {
    background-color: #01041B;
    display: flex;
    flex-direction: row;  
}

main img {  
    width: 680px;  
    height: 475px; 
}

main .txt_music {
    color: #CF092D;  
}

main h1 {
    color: #ffffff;
    font-size: 75px;
}

.esquerda_main {
    padding: 20px;  
    margin-left: 25px;  
}

main p {
    color: #ffffff;  
    margin-top: 25px;  
    text-align: justify;  
}

.dounload, .free_trial {  
    margin-top: 30px; 
    width: 200px; 
    height: 60px;  
    top: 837px;  
    left: 89px;  
    border-radius: 45px; 
    color: #ffffff;  
    border: none;
    cursor: pointer;  
    transition: .3s;  
    font-size: 18px;  
}

.dounload {
    background-color: #CF092D;  
    margin-right: 30px;  
}

.dounload:hover { 
    background-color: #ffffff; 
    color: #CF092D;  
    border: 3px solid #CF092D;  
}

.free_trial {
    background-color: #410093;  
}

.free_trial:hover {  
    background-color: #ffffff; 
    color: #410093;  
    border: 3px solid #410093;  
}

/* Rodape */

footer {
    display: flex;  
    align-items: center;  
    justify-content: center;  
    background-color: #05072F;  
    height: 62.5px;  
    color: #ffffff; 
    font-weight: bolder;  
    font-size: 20px;  
}

@media (max-width: 912px) {
    body, html {
        width: 100vw;
        height: 100vh;
    }

    header {
        background-color: #05072F;
        display: flex;
        flex-direction: row;  
        justify-content: center;
        align-items: center;
        padding: 30px 2%;
        gap: 60px;
    }

    .list {
        display: block;
    }

    .list i{
        color: #ffffff;
        font-size: 35px;
        cursor: pointer;
    }

    .logo h1 {
        font-size: 35px;
    }

    header nav {
        display: none;
    }

    .help {
        display: none;
    }

    .help a {  
        color: #ffffff;
        padding: 5px;  
        text-decoration: none;
        font-weight: bold;
    }

    .help .help_barra {
        color: #CF092D; 
        display: none;
    }

    main {
        background-color: #01041B;
        display: flex;
        flex-direction: column;  
    }

    main h1 {
        color: #ffffff;
        font-size: 40px;
        margin-top: 15px;
    }

    .esquerda_main {
        padding: 10px;  
        margin-left: 10px;  
    }

    main img {  
        width: 90%;  
        height: 300px; 
        margin-top: 20px;
    }

    main p {
        color: #ffffff;  
        margin-top: 25px;  
        text-align: left;
    }

}